<div id="img-container">
    <img src=".{{src}}" alt="{{alt}}">

    <!-- <form action="/favorite" method="get" id="favorite-form" enctype="multipart/form-data">
            <input type="url" accept="image/*" name="photo" >
    </form> -->
    <button onclick=".{{src}} {{alt}}" class="favorite-button" form="favorite-form"></button>
    <!-- {{#if all}} -->
    <!-- {{/if}} -->
</div>
