<h2>Uh Oh!</h2>
<div id="error-container">
    <h3>Look's like you 404'd :(</h3>
    <img src="/assets/404.png" alt="404 poyo">
</div>
<div>
    <p>
        Are you sure you're going to {{url}}?
    </p>
</div>