<h2>About Us:</h2>

<p>
    We're a team of four incredibly smart people with giant brains.
</p>

<ul>
    <li>
        Fransisco (Gurren)
        <ul id="member-info">
            <li>
                <a href="https://github.com/hernafra" target="_blank">Github</a>
            </li>
            <li>Email: hernafra@oregonstate.edu</li>
        </ul>
    </li>
    <li>
        Eric (lestere)
        <ul id="member-info">
            <li>
                <a href="https://github.com/lestere312" target="_blank">Github</a>
            </li>
            <li>Email: lestere@oregonstate.edu</li>
        </ul>
    </li>
    <li>
        Duncan Freeman (Segfault)
        <ul id="member-info">
            <li>
                <a href="github.com/Masterchef365/" target="_blank">Github</a>
            </li>
            <li>Email: freemadu@oregonstate.edu</li>
        </ul>
    </li>
    <li>
        Joshua (Much_Gangster)
        <ul id="member-info">
            <li>
                <a href="https://github.com/muchgangster" target="_blank">Github</a>
            </li>
            <li>Email: barrinjo@oregonstate.edu</li>
        </ul>
    </li>
</ul>
