<h2>
    This site uses a neural network to artificially enhance images!
</h2>

<h3>
    upload an image to get started
</h3>

<form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" >
        <input type="submit" value="upload">
</form>

<h3>Uploads:</h3>
<div id="uploads-container">
    {{#each uploads}}
        {{> upload}}
    {{/each}}
</div>
