<h2>
    This site uses a neural network to artificially enhance images!
</h2>

<h3>
    upload an image to get started
</h3>

<form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" >
        <input type="submit" value="upload">
</form>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="button" id="btnCrop" value="Crop" />
</form>

<h3>Uploads:</h3>
<div id="uploads-container">
    {{#each uploads}}
        {{> upload}}
    {{/each}}
</div>


<br>
<button id="upscale-button">Upscale!</button>

  <div id="crops">



  </div>

<script>
const image = document.getElementById('image').getElementsByTagName('img')[0];
var cropper = new Cropper(image, {
  aspectRatio: 1 / 1,
  wheelZoomRatio: 0,
  autoCropArea: 0,
  strict: false,
  guides: false,
  highlight: false,
  dragCrop: false,
  dragMode: 'move',
  cropBoxResizable: false,
  zoomOnWheel: false,
  scalable: false,
  zoomalbe: false,
  ready() {
    this.cropper.setCropBoxData({"width":60,"height":60});
  },
  crop(event) {
    console.log(event.detail.x);
    console.log(event.detail.y);
    console.log(event.detail.width);
    console.log(event.detail.height);
    console.log(event.detail.rotate);
    console.log(event.detail.scaleX);
    console.log(event.detail.scaleY);
  },
});

var add = document.querySelector('#btnCrop');
// add.addEventListener('click', function(){
//     var croppedImageDataURL = cropper.getCroppedCanvas().toDataURL("image/png");
//     var createCropDiv = document.createElement('div');
//     createCropDiv.setAttribute('id', 'crop');
//     document.getElementById('crops').appendChild(createCropDiv);
//     var cropped = document.createElement('img');
//     cropped.setAttribute("src", croppedImageDataURL);
//     document.getElementById('crop').appendChild(cropped);
// //    .append( $('<img>').attr('src', croppedImageDataURL));
//     console.log(croppedImageDataURL);
// });



add.addEventListener('click', function(){
    var all = true;
    var croppedImageDataURL = cropper.getCroppedCanvas().toDataURL("image/png");
    var createCropTemplate = Handlebars.templates.upload;
    var newCropHTML = createCropTemplate({
      all: all,
      src: croppedImageDataURL,
      alt: undefined
    });
    var cropContainer = document.getElementById('crops');
    cropContainer.insertAdjacentHTML('beforeend', newCropHTML);
//    .append( $('<img>').attr('src', croppedImageDataURL));
    console.log(croppedImageDataURL);
});


</script>
