body {
    margin: 0px;
    min-width: 500px;
}

#content-container {
    margin-left: 10px;
    background-color: rgb(255, 204, 212);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

#content-container h2 {
    margin: 0px;
}

header {
    background-color: rgb(190, 132, 190);
    margin: 0px;
    height: 76px;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#header-left {
    float: left;
    display: flex;
    align-items: center;
    position: relative;
}

#header-right {
    float: right;
    padding-right: 20px;
}

header img {
    height: 30px;
}

h1 {
    margin: 0px;
    padding: 15px 10px;
    font-family: 'Noto Sans', Verdana, Tahoma, sans-serif;
    font-size: 30px;
}

 h1 a:hover {
    text-decoration: none;
}

h2 {
    font-family: 'Noto Sans', Verdana, Tahoma, sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Noto Sans', Verdana, Tahoma, sans-serif;
    font-size: 16px;
}

header a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#member-info {
    padding-left: 10px;
}

#error-container {
    display: flex;
    align-content: center;
    margin: 0px;
}

#error-container h3 {
    margin: 5px;
}

#error-container img {
    height: 30px;
    margin-left: 10px;
    margin-top: 3px;
}

#content-container > h2:nth-child(1) {
    margin-bottom: 0px;
}

#myImg {
    max-height: 200px;
    min-height: 50px;
}

#uploads-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.img-container {
    /* background-color: lightgrey; */
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    margin: 0px 10px 10px;
    padding: 5px;
    position: relative;
}


.img-container img {
    max-width: 100%;
    max-height: 100px;
    min-height: 50px;
}

#crops {
    display: flex;
    flex-wrap: wrap;
}

#crop {
    width: max-content;
    height: max-content;
    margin: 0px 5px;
    padding: 5px;
    position: relative;
}

#crop img {
    max-width: 100%;
    max-height: 100px;
    min-height: 50px;
}

#crop .favorite-button {
  background: url('/assets/favicon.ico');
  position: absolute;
  width: 17px;
  height: 17px;
  right: 5px;
  bottom: 5px;
  /* top: 50%; */
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  background-color: rgb(190, 132, 190);
  padding: 5px;
  color: white;
  font-size: 8px;
  border: none;
  border-radius: 10px;
  opacity: .6;
}

#crop .favorite-button:hover{
  opacity: 1;
}

.highlight {
    background-color: green;
}

img {
  display: block;
  max-width: 100%;
}
